@{
    ViewBag.Title = "Mas sobre el Proyecto";
}
<h2>@ViewBag.Title</h2>


<p>Aplicacion creada en el proceso de formacion del diplomado en programacion con enfasis en desarrollo de aplicaciones web, tomado en la Universidad de Caldas brindado por el MinTic</p>
