@{
    ViewBag.Title = "Contacto ";
}
@{
    ViewBag.Message = "Creadores: ";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<ul>
    <li> AndresAscanio</li>
    <li> Miguel Gomez</li>
    <li> Daniel Troncoso</li>
    <li> Robinson Hernandez</li>
    <li> Julian Giraldo</li>
</ul>
<br />

<address>
    Sho Go - Grupo 30<br />
    Cel: 3134902138<br />
    <a href="mailto:Andresap2017@gmail.com">Correo</a>
</address>

