@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ALIZZA - SHO GO</h1>
    <p class="lead">Alizza es una aplicacion Movil Desarrollada con C# utilizando la metodologia de MVC para la realizacion de esta misma</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Finalidad</h2>
        <p>
            Es una solución que permite realizar la trazabilidad de la documentación al interior
            de la organización. Controla la fecha de entrada y salida de cada documento.
            Los documentos de salida pueden estar o no vinculados a documentos de entrada.
            La persistencia de los datos reside en una base de datos y las consultas se
            realizan en un navegador web. Suministra un consolidado por unidad de tiempo que
            muestra el flujo de la documentación.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Formulario</h2>
        <p><a class="btn btn-default" href="https://localhost:44352/List/Index">Documento &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44352/CiudadDpto/Index">Ciudad y Dpto &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44352/UsuarioCorrespondencia/Index">Usuario de Correspondencia &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44352/Dependencia/Index">Dependencia &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44352/DocEntrada/Index">Documento de Entrada &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44352/DocSalida/Index">Documento de Salida &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>¿A quien va dirijido?</h2>
        <p>
            <br />

            La Superintendencia Financiera, quien exige un control de la documentación que llega a la
            entidad regulada.
        </p>

    </div>
</div>